block content
	h2.page-header Register
	p Please register using the form below
	 if errors 
	  each error, i in errors 
	   div.alert.alert-danger #{error.msg}
	form(method='post', action='/users/register')
	enctype='multipart/form-data')
	 .form-group
	 label Name
	 input.form-control(name='name', type='text', placeholder='Enter name')
	 label Email
	 input.form-control(name='email', type='email', placeholder='Enter email')
	 label Username
	 input.form-control(name='username', type='text', placeholder='Enter username') )
	 label Password
	 input.form-control(name='password', type='password', placeholder='Enter password')
	 input.btn.btn-primary(type='submit', name='submit', value='Register')
	 