extends layout

block content
  .wrapper.row1
    header#header.hoc.clear
      #logo.fl_left
        h1
          a(href='about') Welcome to Iris
  .wrapper.row2
    .override
      nav#mainav.hoc.clear
        ul.clear
          li.active
            a(href='about') Home
          if !currentUser
            li
              a.nav-item.nav-link(href='register') Sign Up
          li
            a(href='profile') My Library
          li
            a(href='contact') Contact
          if currentUser
            div()        
              h5
                img.avatar.img-circle(src='/images/avatar.png', style='margin-top: .75rem;', alt='avatar')
                | #{name}
                a.btn.btn-light.pull-md-right(href='/logout') Log out
          else  
            a.btn.btn-info.pull-md-right(href='login') Login

        
  .wrapper.bgded.overlay(style="background-image:url('images/cbp/backgrounds/poly.jpg');")
    #pageintro.hoc.clear
      article.introtxt
        h2.heading
          | Iris: The Innovative 
          br
          |  E-reader Website
        p
        footer
          ul.nospace.inline.pushright
            li
              a.btn(href='#') Books
            li
              a.btn.inverse(href='social.html') Social
  .wrapper.row3
    main.hoc.container.clear
      .center.btmspace-80
        p.nospace
          p Recommendations on ebooks and emags?
        h3.heading.font-x3 Sign up to start collecting magazines!
        br
      .group.center
        article.one_quarter.first
          i.icon.fa.fa-balance-scale
          h4.font-x1.uppercase
            p Videos
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/4dn7TEjnbPY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        article.one_quarter
          i.icon.fa.fa-bank
          h4.font-x1.uppercase
            p News
          <a class="twitter-timeline" data-width="100%" data-height="100%" data-theme="dark" href="https://twitter.com/IrisPublishing">Tweets by Iris Publishing</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        article.one_quarter
          i.icon.fa.fa-plane
          h4.font-x1.uppercase
            p Featured Ebook
          <a href="bib/i?book=page-blanche.epub" data-bibi="embed" data-bibi-style="width: 100%; height: 100%;">La Page Blanche</a><script src="bib/i.js"></script>
        article.one_quarter
          i.icon.fa.fa-graduation-cap
          h4.font-x1.uppercase
            p Featured Emag
          <a href="bib/i/?book=NOMS.epub" data-bibi="embed" data-bibi-style="width: 100%; height: 100%;">NOMS</a><script src="bib/i.js"></script>
      .clear


