extends layout

block content
  .wrapper.row1
    header#header.hoc.clear
      #logo.fl_left
        h1
          a(href='about') Welcome to Iris
  .wrapper.row2
    nav#mainav.hoc.clear
      ul.clear
        li.active
          a(href='about') Home
        if !currentUser
          li
            a.nav-item.nav-link(href='register') Sign Up
        li
          a(href='profile') My Library
        li
          a(href='contact') Contact
        if currentUser
          div(style='margin-top: .75rem;')        
            h5
              img.avatar.img-circle(src='/images/avatar.png', alt='avatar')
              | #{name}
              a.btn.btn-light.pull-md-right(href='/logout') Log out
        else  
          a.btn.btn-info.pull-md-right(href='login') Login
        

  .wrapper.bgded.overlay(style="background-image:url('images/cbp/backgrounds/poly.jpg');")
    #pageintro.hoc.clear
      article.introtxt
        h2.heading
          | Iris: The Innovative 
          br
          |  E-reader Website
        p
        footer
          ul.nospace.inline.pushright
            li
              a.btn(href='#') Books
            li
              a.btn.inverse(href='#') Social

  .wrapper.row3
    header#header.hoc.clear
      .center.btmspace-80
      .clear
  .wrapper.row4
    .hoc.container.clear
      ul.nospace.elements
        li.one_third.first
          article.center
            figure
              img(src='images/cbp/noms.jpg' alt='')
              figcaption
                a(href='NOMS.html') Read &raquo;
            .txtwrap
              h6.heading Noms
              p Description &mldr;
        li.one_third
          article.center
            figure
              img(src='images/cbp/modernf.jpg' alt='')
              figcaption
                a(href='ModernFoodie.html') Read &raquo;
            .txtwrap
              h6.heading Modern Foodie
              p Description &mldr;
        li.one_third
          article.center
            figure
              img(src='images/cbp/trendy.jpg' alt='')
              figcaption
                a(href='Trendsetter.html') Read &raquo;
            .txtwrap
              h6.heading The Food Mag
              p Description &mldr;
      .clear
  .wrapper.row3
    main.hoc.container.clear
      .center.btmspace-80
        p.nospace
          a(href='#') Recommendations on ebooks and emags?
        br
        h3.heading.font-x3 Check here to keep updated!
      .group.center
        article.one_quarter.first
          i.icon.fa.fa-balance-scale
          h4.font-x1.uppercase
            a(href='#') Videos
          p  Something Goes Here
        article.one_quarter
          i.icon.fa.fa-bank
          h4.font-x1.uppercase
            a(href='#') News
          p Something Goes Here
        article.one_quarter
          i.icon.fa.fa-plane
          h4.font-x1.uppercase
            a(href='#') More Ebooks
          p Something Goes Here
        article.one_quarter
          i.icon.fa.fa-graduation-cap
          h4.font-x1.uppercase
            a(href='#') More Emags
          p Something Goes Here
      .clear
  .wrapper.row4
    .hoc.container.clear
      ul.nospace.elements
        li.one_third.first
          article
            figure
              img(src='images/cbp/moby.jpg' alt='')
              figcaption
                a(href='moby.html') Read &raquo;
            .txtwrap
              h6.heading Moby Dick
              p Something Goes Here etc&mldr;
        li.one_third
          article
            figure
              img(src='images/cbp/literature.png' alt='')
              figcaption
                a(href='childrens-lit.html') Read &raquo;
            .txtwrap
              h6.heading Children&apos;s Literature
              p Something Goes Here etc&mldr;
        li.one_third
          article
            figure
              img(src='images/cbp/blanche.jpg' alt='')
              figcaption
                a(href='page-blanche.html') Read &raquo;
            .txtwrap
              h6.heading La Page Blanche
              p Something Goes Here etc&mldr;
      .clear
