h1 {text-align: center;}

button{
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
    background-color: #279;
	width: 226px;
    color: #fff;
    border: 0px;
    border-radius: 1px;
    padding: 13px;
    cursor: pointer;
    
}